<p-treeTable
  [value]="files"
  [scrollable]="true"
  [virtualScroll]="true"
  scrollHeight="500px"
  [(selectionKeys)]="selectionKeys"
  compareSelectionBy="equals"
  [selectionMode]="'multiple'"
  filterMode="strict"
  #tt
>
  <ng-template pTemplate="header">
    <tr>
      <th>
        <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
        Name
        <input
          pInputText
          type="text"
          (input)="onFilter(tt, 'name')"
          [(ngModel)]="filterValue"
        />
      </th>
      <th>Size</th>
      <th>Type</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
        {{ rowData.name }}
      </td>
      <td>{{ rowData.size }}</td>
      <td>{{ rowData.type }}</td>
    </tr>
  </ng-template>
</p-treeTable>
